APP_PORT=3000
POSTGRES_PORT=5432
POSTGRES_DB=notifications_asim
POSTGRES_USER=notifications_asim
POSTGRES_PASSWORD=notifications_asim
DATABASE_URL=postgresql://notifications_asim:notifications_asim@localhost:5432/notifications_asim
NEXT_PUBLIC_FONNTE_TOKEN=
